DB_NAME=autohub
DB_USER=autohub_user
DB_PASSWORD=change_me_in_production
DB_SSL=false
JWT_SECRET=change_me_in_production
CORS_ORIGIN=*

BACKEND_PORT=3002
DB_PORT=5433

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

LOG_LEVEL=info
LOKI_SERVICE_NAME=autohub-backend
LOKI_ENV=production
LOKI_HOST=http://loki:3100

GREEN_API_URL=https://7105.api.greenapi.com
GREEN_MEDIA_URL=https://7105.media.greenapi.com
GREEN_API_ID_INSTANCE=7105313983
GREEN_API_INSTANCE_NAME=7105313983
GREEN_API_TOKEN_INSTANCE=
